.App {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}
.app-header input {
  display: inline-block;
  width: 60%;
  padding: 5px;
}

.app-results {
  font-size: large;
}